doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Gestion Armaduras
    link(rel='stylesheet', type='text/css', href='/css/GestionCartas.css')
    link(href='https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;800&family=Irish+Grover&family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap', rel='stylesheet')
  body
    header.header
      nav.nav
        a(href='#') Subasta
        a(href='#') Intercambio
        a(href='#') Torneos
      nav.nav
        a(href='#') Mi banco
        a(href='#') Jugar online
        a(href='#') Perfil
    br
    center
      .add-card-button
        a(href = '/admin/creararmadura').link Añadir Armadura
    br
    .caja
      each armadura in armaduras
        .columna
          .carta
            .carta-contenedor
              .imagen_carta
                img(src=armadura.urlImagen, alt='Imagen de la armadura')
              .info_carta
                .nombre_carta
                  h2= armadura.heroe 
                .descripcion_carta
                  p= armadura.tipo  
                  p= armadura.efecto.statEffect + " " + armadura.efecto.stat 
                  p= armadura.activo ? 'Activo' : 'Inactivo'
                  p= armadura.desc 
                .botones_carta
                  a.modificar(href=`/admin/actualizararmadura/${armadura._id}`, class="link") Modificar
                  button.suspender(class="link", type='button', data-armadura-id=armadura._id, data-is-active=armadura.activo, onclick="cambiarEstadoArmadura(event)")
                    | #{armadura.activo ? 'Suspender' : 'Activar'}
                
    center
      ul.pagination
        each pageNum in Array(totalPages).fill().map((_, i) => i + 1)
          li
            a(href=`/admin/armaduras?page=${pageNum}`, class=pageNum === currentPage ? 'current' : '')= pageNum
  script(src='/js/scriptArmaduras.js')
