doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Gestion Armaduras
    link(rel='stylesheet', type='text/css', href='/css/GestionCartas.css')
    link(href='https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;800&family=Irish+Grover&family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap', rel='stylesheet')
  body
    header.header
      nav.nav
        a(href='#') Subasta
        a(href='#') Intercambio
        a(href='#') Torneos
      nav.nav
        a(href='#') Mi banco
        a(href='#') Jugar online
        a(href='#') Perfil
    br
    center
      .button-container
        .cartalink.link
          a(href='/admin/creararmadura', class='no-underline') Añadir Armadura
        .cartalink.link
          a(href='/', class='no-underline') Inicio
    br
    .caja
      each armadura in armaduras
        #bordeCarta.carta2(style='background:rgba(17,18,18,1); color:white; border:1px solid rgba(255,244,0,1);')
          .titulo
            p(class='2xl:text-[18px] md:text-[14px]') #{armadura.heroe}
          .img
            img(src=armadura.urlImagen, alt=`imagen de ${armadura.heroe}`)
            .overlay
          .contenido(class='2xl:w-[220px] 2xl:h-[75px] md:sm:w-[165px] md:sm:h-[50px]')
            .propiedad
              p(class='2xl:text-[16px] md:text-[11px]') Tipo: #{armadura.tipo}
              p(class='2xl:text-[16px] md:text-[11px]') Efecto: #{armadura.efecto.statEffect} #{armadura.efecto.stat}
              p(class='2xl:text-[16px] md:text-[11px]') Descripción: #{armadura.desc}
          .button-container
            a.modificar(href=`/admin/actualizararmadura/${armadura._id}`, class="link") Modificar
            button.link.suspender(class="link", type='button', data-armadura-id=armadura._id, data-is-active=armadura.activo, onclick="cambiarEstadoArmadura(event)")
                    | #{armadura.activo ? 'Suspender' : 'Activar'}
    center
      ul.pagination
        each pageNum in Array(totalPages).fill().map((_, i) => i + 1)
          li
            a(href=`/admin/armaduras?page=${pageNum}`, class=pageNum === currentPage ? 'current' : '')= pageNum
  script(src='/js/scriptArmaduras.js')
