doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Gestion Heroes
    link(rel='stylesheet', type='text/css', href='/css/GestionCartas.css')
    link(href='https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;800&family=Irish+Grover&family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap', rel='stylesheet')
  body
    header.header
      nav.nav
        a(href='#') Subasta
        a(href='#') Intercambio
        a(href='#') Torneos
      nav.nav
        a(href='#') Mi banco
        a(href='#') Jugar online
        a(href='#') Perfil
    br
    center
      .button-container
        .cartalink.link
          a(href='/admin/crearcarta', class='no-underline') Añadir Heroe
        .cartalink.link
          a(href='/', class='no-underline') Inicio
    br
    .caja
      //- Aquí comienza el bucle "each hero in heroes"
      each hero in heroes
        #bordeCarta.carta2(style='background:rgba(17,18,18,1); color:white; border:1px solid rgba(255,244,0,1);')
          .titulo
            a(href=`https://store.thenexusbattles2.cloud/carta/${hero._id}`, style='text-decoration: none; color: white;')
              p(class='2xl:text-[18px] md:text-[14px]') #{hero.clase}
          .img
            img(src=hero.urlImagen, alt=`imagen de ${hero.clase} ${hero.tipo}`)
            .overlay
          .contenido(class='2xl:w-[220px] 2xl:h-[75px] md:sm:w-[165px] md:sm:h-[50px]')
            .propiedad
              p(class='2xl:text-[16px] md:text-[11px]') Poder: #{hero.poder}
              p(class='2xl:text-[16px] md:text-[11px]') Tipo: #{hero.tipo}
            .propiedad
              p(class='2xl:text-[16px] md:text-[11px]') Vida: #{hero.vida}
              p(class='2xl:text-[16px] md:text-[11px]') Ataque: #{hero.ataqueBase}
            .propiedad
              p(class='2xl:text-[16px] md:text-[11px]') Defensa: #{hero.defensa}
              p(class='2xl:text-[16px] md:text-[11px]') Daño: #{hero.danoMax}
          .button-container
            a.link.suspender(href=`/admin/actualizarcarta/${hero._id}`, class="link") Modificar
            button.link.suspender(class="link", type='button', data-hero-id=hero._id, data-is-active=hero.activo, onclick="cambiarEstadoHeroe(event)")
              | #{hero.activo ? 'Suspender' : 'Activar'}
      //- Fin del bucle "each hero in heroes"
      br
    center
      ul.pagination
        //- Aquí comienza el bucle "each pageNum in Array(totalPages).fill().map((_, i) => i + 1)"
        //- Asegúrate de que esta sección se repita dinámicamente con tus datos
        each pageNum in Array(totalPages).fill().map((_, i) => i + 1)
          li
            a(href='/admin/heroes?page=' + pageNum, class=pageNum === currentPage ? 'current' : '')= pageNum
        //- Fin del bucle "each pageNum in Array(totalPages).fill().map((_, i) => i + 1)"
  script(src='/js/scriptCartas.js')
