doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Gestion Cartas
    link(rel='stylesheet', type='text/css', href='css/tailwind.css')
    link(href='https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;800&family=Irish+Grover&family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap', rel='stylesheet')
  body
    header.header
      nav.nav
        a(href='#') Subasta
        a(href='#') Intercambio
        a(href='#') Torneos
      nav.nav
        a(href='#') Mi banco
        a(href='#') Jugar online
        a(href='PerfilUsuario.html') Perfil
    br
    center
      .add-card-button
        a.link(href) Añadir carta
    br
    .caja
      each carta in cartas
        .columna
          #bordeCarta.carta2.2xl.md\:w-200.md\:h-290(style='background:rgba(17,18,18,1); color:white; border:1px solid rgba(255,244,0,1);', data-tilt, data-tilt-max='15', data-tilt-speed='400', data-tilt-perspective='1000')
            .titulo
              p.2xl:text-18.md:text-15= carta.nombre_carta
            img.2xl:h-150.md:sm:h-110(src='https://okdiario.com/img/2017/01/04/caballeros-edad-media-curiosidades-655x368.jpg', alt='')
            .contenido
              div
                p.2xl:text-16.md:text-15 Poder: #{carta.poder}
                p.2xl:text-16.md:text-15 Vida: #{carta.vida}
                p.2xl:text-16.md:text-15 Defensa: #{carta.defensa}
              div
                p.2xl:text-16.md:text-15 Ataque: #{carta.ataqueBase}
                p.2xl:text-16.md:text-15 Dano: #{carta.danoMax}
            div(style='justify-content: end;')
              button.modificar(type='button') Modificar
              button.suspender(type='button') Suspender
    br
    center
      button.save_button(type='button', onclick='addCard()') Guardar
    br
    #myModal.modal
      .modal-content
        span.close ×
        .modal-content-inner
          .image-container
            img#modalImage(src, alt='Imagen de la carta')
          .text-container
            h2#modalCardName Nombre de la carta
            p#modalCardDescription Descripción de la carta
      .time-suspension
        label(for='suspensionTime') Tiempo de suspensión:
        select#suspensionTime
          option(value='7') 7 días
          option(value='15') 15 días
          option(value='30') 1 mes
          option(value='90') 3 meses
          option(value='150') 5 meses
          option(value='indefinite') Indefinido
      .button-container
        button#confirmSuspension Suspender
  script(src='/js/suspendercartas.js')
