doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Gestion Items
    link(rel='stylesheet', type='text/css', href='/css/GestionCartas.css')
    link(href='https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;800&family=Irish+Grover&family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap', rel='stylesheet')
  body
    header.header
      nav.nav
        a(href='#') Subasta
        a(href='#') Intercambio
        a(href='#') Torneos
      nav.nav
        a(href='#') Mi banco
        a(href='#') Jugar online
        a(href='#') Perfil
    br
    center
      .button-container
        .cartalink.link
          a(href='/admin/crearitem', class='no-underline') Añadir Item
        .cartalink.link
          a(href='/', class='no-underline') Inicio
    br
    .caja
      each item in items
        #bordeCarta.carta2(style='background:rgba(17,18,18,1); color:white; border:1px solid rgba(255,244,0,1);')
          .titulo
            p(class='2xl:text-[18px] md:text-[14px]') #{item.nombre}
          .img
            img(src=item.urlImagen, alt=`imagen de ${item.nombre}`)
            .overlay
          .contenido(class='2xl:w-[220px] 2xl:h-[75px] md:sm:w-[165px] md:sm:h-[50px]')
            .propiedad
              p(class='2xl:text-[16px] md:text-[11px]') Héroe: #{item.heroe}
              p(class='2xl:text-[16px] md:text-[11px]') Descripción: #{item.desc}
          .button-container
            a.modificar(href=`/admin/actualizaritem/${item._id}`, class="link") Modificar
            button.link.suspender(type='button', data-item-id=item._id, data-is-active=item.activo, onclick='cambiarEstadoItem(event)')
              | #{item.activo ? 'Suspender' : 'Activar'}
    center
      ul.pagination
        each pageNum in Array(totalPages).fill().map((_, i) => i + 1)
          li
            a(href=`/admin/items?page=${pageNum}`, class=pageNum === currentPage ? 'current' : '')= pageNum
  script(src='/js/scriptItems.js')
