doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Gestion Items 
    link(rel='stylesheet', type='text/css', href='/css/GestionCartas.css')
    link(href='https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;800&family=Irish+Grover&family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap', rel='stylesheet')
  body
    header.header
      nav.nav
        a(href='#') Subasta
        a(href='#') Intercambio
        a(href='#') Torneos
      nav.nav
        a(href='#') Mi banco
        a(href='#') Jugar online
        a(href='#') Perfil
    br
    center
      .button-container
        .add-card-button
          a(href='/admin/crearitem').link Añadir Item
        .add-card-button
          a(href='/').link Inicio
    br
    .caja
      each item in items
        .columna
          .carta
            .carta-contenedor
              .imagen_carta
                img(src=item.urlImagen, alt='Imagen del item')
              .info_carta
                .nombre_carta
                  h2= item.nombre
                .descripcion_carta
                  p= `Héroe: ${item.heroe}`
                  p= item.desc
                .botones_carta
                  a.modificar(href=`/admin/actualizaritem/${item._id}`, class="link") Modificar
                  button.suspender(class="link", type='button', data-item-id=item._id, data-is-active=item.activo, onclick="cambiarEstadoItem(event)")
                    | #{item.activo ? 'Suspender' : 'Activar'}
                
    center
      ul.pagination
        each pageNum in Array(totalPages).fill().map((_, i) => i + 1)
          li
            a(href=`/admin/items?page=${pageNum}`, class=pageNum === currentPage ? 'current' : '')= pageNum
  script(src='/js/scriptItems.js')
